<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Links App</title>
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  {{!-- FRAMEWORK --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {{!-- FONT AWESOME --}}
  <script src="https://kit.fontawesome.com/6162a9e427.js" crossorigin="anonymous"></script>
  {{!-- My Style  --}}
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{> navigation}}
{{{ body }}}
</body>

</html>